1)
import java.util.*;
import java.lang.*;
import java.io.*;

class acad
{
public static void main (String[] args) throws java.lang.Exception
{
int x=1;
int y=2;
System.out.println(x+y);
}
}

2)
import java.util.*;
import java.lang.*;
import java.io.*;
class acad
{
public static void main (String[] args) throws java.lang.Exception
{
Scanner sc = new Scanner(System.in);
int x=sc.nextInt();
int y=sc.nextInt();
System.out.println(x+y);
}
}

3)
import java.util.*;
import java.lang.*;
import java.io.*;
class acad
{
public static void main (String[] args) throws java.lang.Exception
{
Scanner sc = new Scanner(System.in);
int x=sc.nextInt();
int y=sc.nextInt();
sum(x,y);
}
static void sum(int x,int y)
{
System.out.println(x+y);
}
}

